<!DOCTYPE html></DOCTYPE!>
<html lang="en">

<head>
   
    <link href="/styles/main.css" rel="stylesheet">
</head>

<body class="page page-home chrome">
    <div class="main-container">
        <h3 class="text-center"> Thank youe <%= user.name %> for taking our personality test. </h3>
		
   <div class="nav text-center kbd">
       <ul>
           <li><a href="/next/1">Review Your Answers</a></li>
       </ul>
    </div>
			
</body>
</html>
            
