<DOCTYPE! html></DOCTYPE!>
<html lang="en">

<head>
   
    <link href="/styles/main.css" rel="stylesheet">
</head>

<body class="page page-home chrome">
    <div class="main-container">
        <p> Welcome to the start of the personality quiz. </p>
    </div>
</body>
</html>
            
